.input-wrapper .input-main {
    width: 100%;
    height: 30px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    outline: none;
    margin: 5px 0px;
}

.input-wrapper .input-error {
    color: #DD5044;
}

